# Created by .ignore support plugin (hsz.mobi)
legacy
.idea
preprocess_local_sub.py
working/preprocessBAS20XX.py
*.pyc
working/preprocessBAS20XX_FixID.py
working/preprocessBAS20XX_LocalSub.py
bqarp/bqarp_pre_process_sudo.py
*.pyc
working